@import "base/reset";

@import "layout/body";
@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "layout/contacto";
@import "layout/proyectos";
@import "layout/habilidades";
@import "layout/educacion";

// Media queries
@media (max-width: 425px) {
    // Main
    main {
        flex-direction: column;

        .datos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            min-width: 80vw;

            p {
                margin-top: .625rem;
                text-align: center;
            }

            img {
                margin: 1.5625rem;
                max-width: 70vw;
            }
        }
    }

    footer{
        .redes_sociales {
            justify-content: start;
        }
    }
    
}

@media (max-width: 375px) {
    // Main
    .datos h1,
    .datos h2 {
        text-align: center;
    }
}

@media (max-width: 320px) {
    // Footer
    footer h2 {
        font-size: 1.25rem;
    }
}
